body{
    margin: 0px;
}

h1{ 
    font-size:160px;
    text-align:center;
}

a{
    text-decoration: none;    
}

a:visited{
    color:white;
}

a:hover{
    color:#F44336;
}


#header{
    position: relative;
    width:100%;
    height:700px;  
    max-width: 1400px;
    margin: auto;    
    background:black;
    color:white;
}

#header > div > h1,#header > div > h2{  
    font-family: 'Press Start 2P';
    color:yellow;
    padding:0px;
    margin:0px;
}

#header > div > h2{
    font-size: 70px;
}

#header > video{
    width:100%;
    position:absolute;
}

#mute{
    font-family: 'Press Start 2P';
    color:yellow;
    position:absolute;
}

.poi{
    height: 300px;
    width: 100%;
    background: url('./poi.jpg');
    background-size:100%;
    background-position: 0px 700px;
    overflow: hidden;
    position:absolute;
}


#header>.menu-bar{
    position: absolute;
    top:600px;
    width:100%;
    text-align:center;
}

#heading{
    position: absolute;
    top:80px;
    text-align:center;
    width:100%;
    color:black;
}

#contents{
    position: absolute;
    width:100%;
}

#contents > div{
    width:250px;
    margin: auto;
} 

#contents > div > div > span{
    font-size: 20px;
    color:yellow;
}

.menu-bar > a{
    font-family: 'Press Start 2P';
    padding:10px;
    color:#ffffff;
    text-decoration:none;
}

.menu-bar > a > h2{
    display: inline;
}

#footer{
    width:300px;
    margin:auto;	
}

.container{
    background:white;
}

.container > .col{
    float: left;
}

.container > .right-col{
    padding: 40px 40px 0px 40px;
}